*.sql linguist-detectable=true
*.sql linguist-language=SQL

cs1410-c++/*.ipynb linguist-vendored

cs2250-c-c++/mod08/*.c linguist-language=C
cs2250-c-c++/mod08/*.h linguist-language=C
cs2250-c-c++/mod09/*.c linguist-language=C
cs2250-c-c++/mod09/*.h linguist-language=C
